.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  padding-left: 50%;
}

.portrait {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}